<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pswrds - Password complexity calculator</title>
</head>
<body>
    <h1>Password complexity calculator</h1>
    <form action="" method="post">
    <p>
	    <label for="password">Password</label>
	    <input type="text" name="password">
	</p>
	<p>
	    <input type="submit">
	</p>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
